#obslujivaet zaprosi kotorie prishli iz htacces v kornevoy direktorii
#kvoroshi te inch faylia zapros ekel
<IfModule mod_rewrite.c>
    RewriteEngine on
    #rewritecond@ stugum e payman vori depqum kkatarvi verapoxum@
    RewriteCond %{REQUEST_FILENAME} !-f
    #ete zapros exac fayler@ real goyutyun unecox fayler chen mer strukturayum
    RewriteCond %{REQUEST_FILENAME} !-d
    #ev direktoria chi
    RewriteRule ^(.*)$ index.php [L]
    #uremn uxarkum enq zapros@ index.php-in
</IfModule>