.my-btn-social {
    text-decoration: none !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    color: #fff;
    transition: background-color .15s ease-in-out,
    border-color .15s ease-in-out;
}
.my-btn-facebook{
    background-color: #3b5998;
    border-color: #3b5998;
}

.my-btn-facebook:hover {
    background-color: #2d4373;
    border-color: #2d4373;
    color: #fff;
}

.my-btn-github{
    background-color: #444444;
    border-color: #444444;
}

.my-btn-github:hover {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    color: #fff;
}

.my-btn-twitter{
    background-color: #55acee;
    border-color: #55acee;
}

.my-btn-twitter:hover {
    background-color: #2795e9;
    border-color: #2795e9;
    color: #fff;
}
