*{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul{
	margin: 200px;
}
li{
	width: 200px;
	height: 100px;
	position: relative;
	float: left;
}
.main{
	width: 200px;
	height: 100px;
	background: pink;
	transition: all 0.5s ease;
}
.right{
	width: 0.001px;
	height: 200px;
	background: blue;
	text-align: center;
	overflow: hidden;
}
li:hover .right{
	width: 200px;
	transition: width 0.5s 0.5s ease;
	transform: translate(200px ,-100px);
}
li:hover .main{
	background: red;
	height: 200px;
	transform: translate(0 ,100px);
		z-index: 10

}
.left{
	width: 0.001px;
	height: 200px;
	background: blue;
	text-align: center;
	overflow: hidden;
}
li:hover .left{
	width: 200px;
	float: right;
	transition: width 0.5s 0.5s ease;
	transform: translate(-200px ,-100px);
}
.img{
	width: 200px;
	height: 0.1px;
	background: green;
	position: absolute;
	overflow: hidden;
	bottom:0;
	transition: all 0.5s ease;

}
li:hover .img{
	height: 200px;
}
