*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Helper Classes */

body , html{
  color: rgb(170, 170, 170);
}

.clearfix{
  clear: both;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

/* Header */

header{
  background-color: #363636;
}

header .item1 {
  float: left;
  padding: 20px 0 40px;
}

header .item1 h1{
  font-size: 40px;
  font-weight: normal;
}
header .item1 h2{
  font-size: 15px;
  font-weight: normal;
}

header .item2 {
  float: right;
  padding: 30px 0 40px;
}

header .item2 ul li:not(.clearfix) {
  float: left;
  padding: 18px;
  background-color: #282828;
}

header .item2 ul li a {
  text-transform: uppercase;
  color: rgb(170, 170, 170);
}

/* Main Top */

.main-top{
  padding: 30px 0;
  border-bottom: 1px solid rgba(170, 170, 170,0.5);
}

.main-top p{
text-align: center;
font-size: 20px;
line-height: 30px;
}

/* Main Middle */

.main-middle{
  padding: 30px 0;
  border-bottom: 1px solid rgba(170, 170, 170,0.5);
}

.main-middle div:not(.clearfix){
  float: left;
  width: 24%;
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 1.333333333333333333333333333333333333333333%; /* :D  */
}

.main-middle div img{
  height: 100%;
  width: 100%;
}

.main-middle a{
  text-transform: uppercase;
  color: orangered;
  float: right;
  margin-top: 30px;
}

/* Main Bottom */

.main-bottom{
  margin: 20px 0;
}

.main-bottom div:not(.clearfix){
  float: left;
  width: 23%;
  margin-right: 2.333333333333333333333333333333333333333333%; /* :D  */
  padding: 30px 0;
}

.main-bottom div img{
  height: 32px;
  width: 32px;
  float: left;
  margin-right:10px;
}

.main-bottom div h3{
  text-transform: uppercase;
  line-height: 35px;
}
.main-bottom div p{
  margin: 10px 0;
  line-height: 23px;
}
.main-bottom div a{
  color: orangered;
  float: right;
}

/* Footer */

footer{
  background-color: #282828;
}

footer .footer-item1{
  margin: 20px 0;
  float: left;
}

footer .footer-item2{
  margin: 20px 0;
  float: right;
}



