#main{
	position: relative;
	margin: 100px auto 0;
	height: 480px;
	width: 640px;
	border: 1px solid gray;
}
#right, #left{
	position: absolute;
	top: 35%;
	left: 0;
	font-size: 80px;
	padding:5px 20px;
	color: silver;
	background: gray;
	cursor: pointer;
}
#right{
	right: 0;
	left:auto;
}
#slide_img{
	width: 100%;
	height: 100%;
}