* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Varela Round', 'Montserrat', sans-serif;
}

/*&&&&&&&&&&&&&&&&&&&& Helper Classes &&&&&&&&&&&&&&&&&&&&*/

.before-box::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #1C1D21;
  height: 100%;
  width: 0%;
  transition: 0.3s;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.section-heading {
  font-size: 25px;
  font-weight: 700;
  color: #10161A;
  text-align: center;
  text-transform: capitalize;
}

.section-heading::after {
  content: '';
  display: block;
  background-color: #6195FF;
  width: 40px;
  height: 4px;
  margin: 20px auto 0;

}

/*&&&&&&&&&&&&&&&&&&&& Header &&&&&&&&&&&&&&&&&&&&*/

header {
  position: relative;
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 25, 31, 0.7);
}

.header-content {
  position: relative;
  z-index: 1;
  height: 100vh;
  padding-top: 10px;
}

.header-website-icon {
  float: left;
}

.header-website-icon img {
  object-fit: cover;
  width: 100px;
}

.header-website-navbar {
  padding-top: 10px;
  float: right;
}

.header-website-navbar>ul>li {
  float: left;
}

.header-website-navbar>ul>li:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  background-color: #6195FF;
  transition: 0.2s;
}

.header-website-navbar>ul>li:not(.navbar-active):after {
  width: 0%;
}

.header-website-navbar>ul>li:not(first-child) {
  margin-left: 25px;
}

.header-website-navbar>ul>li>a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.2s;
}

.list-item-blog a i {
  transition: 0.3s;
}

.list-item-blog:hover a i {
  transform: rotate(-90deg);
}

.header-website-navbar>ul>li:hover>a {
  color: rgba(255, 255, 255, 0.7);
}

.header-website-navbar>ul>li:hover:after {
  width: 100%;
}

.list-item-blog {
  position: relative;
  padding-bottom: 15px;
}

.list-item-blog-dropbox {
  position: absolute;
  visibility: hidden;
  background-color: #6195FF;
  top: 40px;
  left: -140%;
  opacity: 0;
  width: 200px;
  transform: translateY(15px);
  transition: 0.3s;
}

.list-item-blog-dropbox>a {
  color: #fff;
  display: block;
  padding: 12px 0 12px 10px;
}

.list-item-blog-dropbox>a:hover {
  opacity: 0.8;
}

.list-item-blog:hover .list-item-blog-dropbox {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.header-content-headings {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-30%);
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header-content-headings-text h1 {
  font-weight: 700;
  font-size: 54px;
  color: #fff;
  margin-bottom: 20px;
}

.header-content-headings-text h2 {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
}

.header-content-buttons {
  width: 40%;
  margin: 20px 0;
}

.header-content-buttons {
  width: 40%;
  margin: 20px auto;
}

.header-content-buttons>div {
  float: left;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.header-content-buttons>div>a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  transition: 0.3s;
}

.header-content-buttons>div>a:hover {
  opacity: 0.8;
}

.header-content-get-started-button a {
  background-color: #fff;
  color: #000;
}

.header-content-learn-more-button a {
  background-color: #6195FF;
  color: #fff;
}

/*&&&&&&&&&&&&&&&&&&&& About &&&&&&&&&&&&&&&&&&&&*/

#about {
  padding: 130px 0;
}

#about .welcome-items {
  margin-top: 70px;
}

#about .welcome-items-item {
  width: 33.3333%;
  float: left;
  box-sizing: border-box;
  padding: 1%;
  text-align: center;
}

#about .welcome-items-item-box {
  position: relative;
  z-index: 1;
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.404);
  padding: 40px 20px;
  box-sizing: border-box;
}

.welcome-items-item-box-content {
  position: relative;
  z-index: 2;
}

#about .welcome-items-item-box:hover:before {
  width: 100%;
}

.welcome-items-item-box-content-icon {
  font-size: 36px;
  color: #6195FF;
}

.welcome-items-item-box-content-text h2 {
  font-size: 21px;
  margin: 15px 0;
  transition: 0.2s;
}

#about .welcome-items-item-box:hover .welcome-items-item-box-content-text h2 {
  color: #fff;
}

.welcome-items-item-box-content-text p {
  font-size: 16px;
  color: rgb(114, 114, 114);
  line-height: 35px;
}

.welcome-items-item-box-content-read-more a {
  display: inline-block;
  color: #6195FF;
  font-size: 16px;
  margin-top: 15px;
  transition: 0.3s;
}

.welcome-items-item-box-content-read-more a:hover {
  color: rgba(97, 150, 255, 0.609);
}

/*&&&&&&&&&&&&&&&&&&&& Portfolio &&&&&&&&&&&&&&&&&&&&*/

#portfolio {
  padding: 80px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  background-color: #FAFAFA;
}

.portfolio-items {
  margin-top: 50px;
}

.portfolio-items-item {
  position: relative;
  float: left;
  width: 33.333333333333333%;

}

.portfolio-items-item-img {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  object-fit: cover;

}

.portfolio-items-item-img img {
  width: 100%;
}

.portfolio-items-item-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.portfolio-items-item:hover .portfolio-items-item-overlay {
  visibility: visible;
  opacity: 1;
}

.portfolio-items-item-overlay-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-40%);
  margin: 0 auto;
  text-align: center;
  transition: 0.2s;
}

.portfolio-items-item:hover .portfolio-items-item-overlay-content {
  transform: translateY(-50%);
}

.portfolio-items-item-overlay-headings {
  margin-bottom: 20px;
}

.portfolio-items-item-overlay-headings h3 {
  color: #6195FF;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
}

.portfolio-items-item-overlay-headings h2 {
  color: #fff;
  font-size: 21px;
}

.portfolio-items-item-overlay-buttons {
  width: 30%;
  margin: 0 auto;
  transform: translateY(20px);
  transition: 0.4s;
}

.portfolio-items-item-overlay-buttons>div {
  float: left;
  padding: 18px;
  box-sizing: border-box;
  width: 48%;
  background-color: #6195FF;
  transition: 0.3s;
}

.portfolio-items-item-overlay-buttons>div:first-child {
  margin-right: 4%;
}

.portfolio-items-item-overlay-buttons>div>i {
  color: #fff;
}

.portfolio-items-item-overlay-buttons>div:hover {
  opacity: 0.8;
}

.portfolio-items-item:hover .portfolio-items-item-overlay-buttons {
  transform: translateY(0);
}

/*&&&&&&&&&&&&&&&&&&&& Services &&&&&&&&&&&&&&&&&&&&*/
#services {
  padding: 130px 0;
}

#services .services-items {
  margin-top: 70px;
}

#services .services-items-item {
  width: 33.3333%;
  float: left;
  box-sizing: border-box;
  padding: 1%;
}

#services .services-items-item-box {
  position: relative;
  z-index: 1;
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.404);
  padding: 40px 20px;
  box-sizing: border-box;
}

.services-items-item-box-content {
  position: relative;
  z-index: 2;
}

.services-items-item-box-content>div {
  float: left;
}

#services .services-items-item-box:hover:before {
  width: 100%;
}

.services-items-item-box-content-icon {
  width: 20%;
  font-size: 36px;
  color: #6195FF;
  float: left;
}

.services-items-item-box-content-text {
  width: 80%;
}

.services-items-item-box-content-text h2 {
  font-size: 21px;
  transition: 0.2s;
  margin-bottom: 20px;
}

#services .services-items-item-box:hover .services-items-item-box-content-text h2 {
  color: #fff;
}

.services-items-item-box-content-text p {
  font-size: 16px;
  color: rgb(114, 114, 114);
  line-height: 35px;
}

/*&&&&&&&&&&&&&&&&&&&& Choose &&&&&&&&&&&&&&&&&&&&*/

#choose {
  width: 100%;
  background-color: #FAFAFA;
  padding: 100px 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.choose-info {
  width: 50%;
  padding-right: 50px;
  box-sizing: border-box;
  float: left;
}

.choose-heading h2 {
  font-size: 36px;
  color: #10161A;
}

.choose-heading:after {
  content: '';
  display: block;
  height: 4px;
  width: 40px;
  background-color: #6195FF;
  margin-top: 10px;
}

.choose-info p {
  font-size: 16px;
  line-height: 30px;
  color: #868F9B;
  margin: 30px 0 10px;
}

.choose-info ul>li {
  font-size: 16px;
  color: #868F9B;
  line-height: 35px;
}

.choose-info ul>li>i {
  font-size: 20px;
  color: #6195FF;
  padding-right: 8px;
}

.choose-img {
  float: left;
  width: 50%;
}

.choose-img img {
  width: 100%;
  object-fit: cover;
}

/*&&&&&&&&&&&&&&&&&&&& Stats &&&&&&&&&&&&&&&&&&&&*/

#stats {
  position: relative;
  width: 100%;
  height: 280px;
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

#stats::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 25, 31, 0.8);
}

#stats>.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1170px;
  left: 0;
  right: 0;
  margin: 0 auto;

}

.stats-item {
  float: left;
  width: 25%;
}

.stats-item i {
  color: #6195FF;
  font-size: 36px;
}

.stats-item h2 {
  font-size: 36px;
  color: #fff;
  margin: 10px 0 15px;
}

.stats-item h3 {
  font-size: 16px;
  color: #fff;
}

/*&&&&&&&&&&&&&&&&&&&& Prices &&&&&&&&&&&&&&&&&&&&*/

#prices {
  margin: 60px auto;
}

.prices-items {
  margin-top: 40px;
}

.prices-item {
  position: relative;
  width: 32%;
  float: left;
  border: 1px solid #eeeeee;
  text-align: center;
  padding: 40px 0;
  box-sizing: border-box;
}

.prices-item-content {
  width: 100%;
  position: relative;
  z-index: 2;
}

.prices-item:before {
  z-index: 1;
  height: 0%;
  width: 100%;
}

.prices-item:hover:before {
  height: 100%;
}

.prices-item:nth-child(2) {
  margin: 0 2%;
}

.prices-item h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #868F9B;
  font-weight: 400;
  transition: 0.2s;
}

.prices-item:hover h2 {
  color: #6195FF;
}

.prices-month-box {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #6195FF;
  margin: 20px auto;
}

.prices-month-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
}

.prices-month-info h3 {
  font-size: 14px;
  transition: 0.3s;
}

.prices-month-info h3 span {
  font-size: 42px;
  font-weight: 900;
}

.prices-item p {
  color: #868F9B;
  font-size: 16px;
  line-height: 2;
}

.prices-item:hover .prices-month-info h3 {
  color: #fff;
}

.prices-item button {
  margin-top: 20px;
  border: 2px solid #6195FF;
  border-radius: 4px;
  background: none;
  color: #6195FF;
  padding: 12px 40px;
  font-size: 16px;
  cursor: pointer;
}

/*&&&&&&&&&&&&&&&&&&&& Prices Bottom &&&&&&&&&&&&&&&&&&&&*/

#prices-bottom {
  position: relative;
  background-image: url(../images/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 435px;
}

#prices-bottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.prices-bottom-content {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.prices-bottom-content-item {
  float: left;
  width: 50%;
  padding: 2%;
  box-sizing: border-box;
}

.prices-bottom-content-item-person {
  margin-bottom: 20px;
}

.prices-bottom-content-item-person-img {
  float: left;
}

.prices-bottom-content-item-person-img img {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.prices-bottom-content-item-person-info {
  float: left;
  padding: 8px 0 0 20px;
}

.prices-bottom-content-item-person-info h2 {
  font-size: 21px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.prices-bottom-content-item-person-info h3 {
  font-size: 15px;
  color: #6195FF;
  text-transform: uppercase;
  font-weight: normal;
}

.prices-bottom-content-item-text p {
  color: #fff;
  font-size: 17px;
  line-height: 1.7;
}

/*&&&&&&&&&&&&&&&&&&&& Team &&&&&&&&&&&&&&&&&&&&*/

#team {
  padding: 80px 0;
}

.team-members {
  margin-top: 60px;
}

.team-members-item {
  position: relative;
  width: 32%;
  float: left;
  background-color: #F4F4F4;
  padding: 40px 20px 50px;
  box-sizing: border-box;
}

.team-members-item:nth-child(2) {
  margin: 0 2%;
}

.team-members-item:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.82);
  transition: 0.3s;
}

.team-members-item:hover:before {
  height: 100%;
}

.team-members-item-img {
  position: relative;
  z-index: 1;
}

.team-members-item-img img {
  width: 100%;
  object-fit: cover;
}

.team-members-item-info {
  position: relative;
  z-index: 3;
  text-align: center;
}

.team-members-item-info h2 {
  font-size: 21px;
  color: #10161A;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0 10px;
  transition: 0.3s ease-out;
}

.team-members-item-info h3 {
  color: #868F9B;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
  font-weight: normal;
}

.team-members-item:hover .team-members-item-info h2 {
  color: #fff;
}

.team-members-item:hover .team-members-item-info h3 {
  color: #6195FF;
}

.team-members-item-icons {
  position: absolute;
  z-index: 5;
  top: 40px;
  right: 20px;
  background-color: #fff;
  opacity: 0;
  transition: 0.15s;
}

.team-members-item-icons i {
  display: block;
  font-size: 16px;
  background-color: #6196ffd8;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.team-members-item-icons i:hover {
  opacity: 0.6;
}

.team-members-item:hover .team-members-item-icons {
  opacity: 0.8;
}

/*&&&&&&&&&&&&&&&&&&&& Blog &&&&&&&&&&&&&&&&&&&&*/

#blog {
  width: 100%;
  background-color: #FAFAFA;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 100px 0;
}

.blog-news-items {
  margin-top: 60px;
}

.blog-news-item {
  float: left;
  width: 32%;
  background-color: #fff;
}

.blog-news-item:nth-child(2) {
  margin: 0 2%;
}

.blog-news-item-img {
  width: 100%;
}

.blog-news-item-img img {
  width: 100%;
  object-fit: cover;
}

.blog-news-item-info {
  padding: 20px;
  box-sizing: border-box;
}

.blog-news-item-info span {
  font-size: 14px;
  color: #10161A;
}

.blog-news-item-info span i {
  color: #6195FF;
  font-size: 12px;
}

.blog-news-item-info h2 {
  font-size: 21px;
  margin: 20px 0;
}

.blog-news-item-info p {
  color: #868F9B;
  font-size: 16px;
  line-height: 1.7;
}

.blog-news-item-info-read-more {
  padding: 15px 0;
}

.blog-news-item-info-read-more a {
  color: #6195FF;
  font-size: 16px;
  transition: 0.2s;
}

.blog-news-item-info-read-more a:hover {
  opacity: 0.8;
}

/*&&&&&&&&&&&&&&&&&&&& Contact &&&&&&&&&&&&&&&&&&&&*/

#contact {
  padding: 100px 0;
}

.contact-info {
  padding: 60px 0 40px;
  text-align: center;
}

.contact-info-item {
  float: left;
  width: 32%;
}

.contact-info-item:nth-child(2) {
  margin: 0 2%;
}

.contact-info-item i {
  font-size: 36px;
  color: #6195FF;
}

.contact-info-item h2 {
  font-size: 21px;
  margin: 20px 0;
}

.contact-info-item span {
  font-size: 16px;
  color: #868F9B;
}

.contact-form {
  width: 70%;
  margin: 30px auto 0;
}

.contact-form input,
.contact-form textarea {
  background-color: #F9F9F9;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 14px;
  border: none;
  border-radius: 3px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 16px;
  color: #868F9B;
  opacity: 0.6;
}

.contact-form-name {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.contact-form-email {
  float: left;
  width: 49%;
}

.contact-form-button {
  width: 23%;
  margin: 10px auto 0;
  text-align: center;
}

.contact-form-button button {
  width: 100%;
  background-color: #6195FF;
  color: #fff;
  padding: 14px 0;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}

.contact-form-button button:hover {
  opacity: 0.8;
}

/*&&&&&&&&&&&&&&&&&&&& Footer &&&&&&&&&&&&&&&&&&&&*/

footer {
  width: 100%;
  background-color: #1C1D21;
  padding: 80px 0;
}

.footer-content {
  text-align: center;
}

.footer-content-logo {
  width: 13%;
  margin: 0 auto;
}

.footer-content-logo img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
}

.footer-content-logo img:hover {
  opacity: 0.7;
}

.footer-content-icons {
  margin: 30px auto;
}

.footer-content-icons i {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #6195FF;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  margin: 0 5px;
  border-radius: 4px;
  transition: 0.2s;
}

.footer-content-icons i:hover {
  opacity: 0.7;
}

.footer-content-copyright p {
  color: #868F9B;
  font-size: 15px;
}

.footer-content-copyright p a {
  color: #6195FF;
  transition: 0.2s;
}

.footer-content-copyright p a:hover {
  opacity: 0.7;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Resposive &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Resposive &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& 1200px - 960px &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

@media only screen and (max-width:1200px) {

  /*&&&&&&&&&&&&&&&&&&&& Helper Classes &&&&&&&&&&&&&&&&&&&&*/
  .container {
    width: 940px;
  }


  .section-heading {
    font-size: 27px;
    font-weight: 700;
  }

  .section-heading::after {
    width: 45px;
    height: 5px;
    margin: 18px auto 0;
  }


  /*&&&&&&&&&&&&&&&&&&&& Header &&&&&&&&&&&&&&&&&&&&*/

  .header-website-icon img {
    width: 90px;
  }

  .header-content-headings-text h1 {
    font-weight: 600;
    font-size: 48px;
  }

  .header-website-navbar>ul>li:not(first-child) {
    margin-left: 23px;
  }

  /*&&&&&&&&&&&&&&&&&&&& About &&&&&&&&&&&&&&&&&&&&*/
  #about {
    padding: 80px 0;
  }

  #about .welcome-items {
    margin-top: 50px;
  }

  #about .welcome-items-item-box {
    padding: 35px 15px;
  }

  .welcome-items-item-box-content-icon {
    font-size: 32px;
  }

  .welcome-items-item-box-content-text h2 {
    font-size: 19px;
  }

  .welcome-items-item-box-content-text p {
    line-height: 32x;
  }

  /*&&&&&&&&&&&&&&&&&&&& Services &&&&&&&&&&&&&&&&&&&&*/
  #services {
    padding: 110px 0;
  }

  #services .services-items {
    margin-top: 60px;
  }

  .services-items-item-box-content-icon {
    font-size: 34px;
  }

  .services-items-item-box-content-text h2 {
    font-size: 19px;
    margin-bottom: 16px;
  }

  .services-items-item-box-content-text p {
    font-size: 15px;
    line-height: 28px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Choose &&&&&&&&&&&&&&&&&&&&*/

  .choose-heading h2 {
    font-size: 34px;
    color: #10161A;
  }

  .choose-heading:after {
    width: 35px;
  }

  .choose-info p {
    font-size: 14px;
    line-height: 28px;
  }

  .choose-info ul>li {
    font-size: 14px;
    line-height: 30px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Stats &&&&&&&&&&&&&&&&&&&&*/

  #stats {
    height: 260px;
  }

  #stats>.container {
    width: 940px;
  }

  .stats-item i {
    font-size: 34px;
  }

  .stats-item h2 {
    font-size: 34px;
  }

  .stats-item h3 {
    font-size: 15px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Prices &&&&&&&&&&&&&&&&&&&&*/

  #prices {
    margin: 50px auto;
  }

  .prices-items {
    margin-top: 30px;
  }

  .prices-item {
    padding: 35px 0;
  }


  .prices-item h2 {
    font-size: 15px;
  }

  .prices-month-box {
    height: 135px;
    width: 135px;
  }

  .prices-month-info h3 span {
    font-size: 38px;
  }

  .prices-item p {
    font-size: 14px;
    line-height: 1.9;
  }

  .prices-item button {
    margin-top: 18px;
    padding: 10px 36px;
    font-size: 15px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Prices Bottom &&&&&&&&&&&&&&&&&&&&*/

  #prices-bottom {
    height: 400px;
  }


  .prices-bottom-content-item-person-img img {
    width: 65px;
    height: 65px;
  }

  .prices-bottom-content-item-person-info h2 {
    font-size: 20px;
  }

  .prices-bottom-content-item-person-info h3 {
    font-size: 15px;
  }

  .prices-bottom-content-item-text p {
    font-size: 16px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Team &&&&&&&&&&&&&&&&&&&&*/

  #team {
    padding: 70px 0;
  }

  .team-members {
    margin-top: 50px;
  }

  .team-members-item {
    padding: 35px 15px 40px;
  }


  .team-members-item-info h2 {
    font-size: 19px;
    color: #10161A;
    font-weight: 700;
    margin: 18px 0 8px;

  }

  .team-members-item-info h3 {
    font-size: 13px;
  }

  .team-members-item-icons {
    top: 35px;
    right: 15px;
  }

  .team-members-item-icons i {
    font-size: 15px;
    height: 45px;
    width: 45px;
    line-height: 45px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Blog &&&&&&&&&&&&&&&&&&&&*/

  #blog {
    padding: 80px 0;
  }

  .blog-news-items {
    margin-top: 50px;
  }

  .blog-news-item-info span {
    font-size: 13px;
  }

  .blog-news-item-info span i {
    font-size: 11px;
  }

  .blog-news-item-info h2 {
    font-size: 19px;
    margin: 18px 0;
  }

  .blog-news-item-info p {
    font-size: 16px;
    line-height: 1.6;
  }

  .blog-news-item-info-read-more a {
    font-size: 15px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Contact &&&&&&&&&&&&&&&&&&&&*/

  #contact {
    padding: 80px 0;
  }

  .contact-info {
    padding: 50px 0 32px;
  }

  .contact-info-item i {
    font-size: 32px;
  }

  .contact-info-item h2 {
    font-size: 19px;
    margin: 18px 0;
  }

  .contact-info-item span {
    font-size: 15px;
  }

  .contact-form {
    margin: 25px auto 0;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 15px;
  }

  .contact-form-button button {
    padding: 13px 0;
    font-size: 14px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Footer &&&&&&&&&&&&&&&&&&&&*/

  footer {
    padding: 80px 0;
  }

  .footer-content-logo {
    width: 16%;
  }

  .footer-content-icons {
    margin: 25px auto;
  }

  .footer-content-icons i {
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 15px;
    margin: 0 5px;
  }

  .footer-content-copyright p {
    font-size: 14px;
  }

}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& 960px - 768px &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

@media only screen and (max-width:960px) {

  /*&&&&&&&&&&&&&&&&&&&& Helper Classes &&&&&&&&&&&&&&&&&&&&*/
  .container {
    width: 748px;
  }

  .section-heading {
    font-size: 25px;
    font-weight: 600;
  }

  .section-heading::after {
    width: 40px;
    height: 4px;
    margin: 16px auto 0;
  }


  /*&&&&&&&&&&&&&&&&&&&& Header &&&&&&&&&&&&&&&&&&&&*/

  .header-website-icon img {
    width: 80px;
  }

  .header-content-headings-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .header-content-headings-text h2 {
    font-size: 15px;
    line-height: 28px;
  }

  .header-content-buttons>div>a {
    font-size: 14px;
  }

  .header-website-navbar>ul>li:not(first-child) {
    margin-left: 20px;
  }

  .header-website-navbar>ul>li>a {
    font-size: 15px;
  }

  /*&&&&&&&&&&&&&&&&&&&& About &&&&&&&&&&&&&&&&&&&&*/

  #about {
    padding: 60px 0;
  }

  #about .welcome-items {
    margin-top: 40px;
  }

  #about .welcome-items-item {
    width: 50%;
    float: left;
  }

  #about .welcome-items-item:last-child {
    float: none;
    margin: 10px auto;
    overflow: hidden;
  }

  .welcome-items-item-box-content-icon {
    font-size: 32px;
  }

  .welcome-items-item-box-content-text h2 {
    font-size: 19px;
  }


  .welcome-items-item-box-content-text p {
    line-height: 30px;
  }

  .welcome-items-item-box-content-read-more a {
    font-size: 14px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Protfolio &&&&&&&&&&&&&&&&&&&&*/
  #portfolio {
    padding: 60px 0;

  }

  .portfolio-items {
    margin-top: 35px;
  }

  .portfolio-items-item {
    width: 50%;
  }

  /*&&&&&&&&&&&&&&&&&&&& Services &&&&&&&&&&&&&&&&&&&&*/
  #services {
    padding: 80px 0;
  }

  #services .services-items {
    margin-top: 45px;
  }

  #services .services-items-item {
    width: 50%;
  }

  /*&&&&&&&&&&&&&&&&&&&& Choose &&&&&&&&&&&&&&&&&&&&*/

  .choose-info {
    width: 80%;
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }

  .choose-heading h2 {
    font-size: 36px;
    text-align: center;
  }

  .choose-heading:after {
    width: 40px;
    margin: 10px auto 0;
  }

  .choose-info p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  .choose-info ul>li {
    font-size: 16px;
    line-height: 35px;
  }

  .choose-img {
    float: none;
    width: 80%;
    margin: 30px auto 0;
  }

  /*&&&&&&&&&&&&&&&&&&&& Stats &&&&&&&&&&&&&&&&&&&&*/

  #stats {
    height: 240px;
  }

  #stats>.container {
    width: 748px;
  }

  .stats-item i {
    font-size: 30px;
  }

  .stats-item h2 {
    font-size: 30px;
    margin: 8px 0 12px;
  }

  .stats-item h3 {
    font-size: 14px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Prices &&&&&&&&&&&&&&&&&&&&*/

  #prices {
    margin: 40px auto;
  }

  .prices-items {
    margin-top: 25px;
  }

  .prices-item {
    padding: 30px 0;
  }

  .prices-item h2 {
    font-size: 13px;
  }

  .prices-month-box {
    height: 100px;
    width: 100px;
    margin: 15px auto;
  }

  .prices-month-info h3 {
    font-size: 12px;
  }

  .prices-month-info h3 span {
    font-size: 35px;
    font-weight: 800;
  }

  .prices-item p {
    font-size: 13px;
    line-height: 1.7;
  }

  .prices-item button {
    margin-top: 15px;
    padding: 8px 30px;
    font-size: 13px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Prices Bottom &&&&&&&&&&&&&&&&&&&&*/

  #prices-bottom {
    height: 320px;
  }


  .prices-bottom-content-item-person {
    margin-bottom: 15px;
  }

  .prices-bottom-content-item-person-info {
    padding: 6px 0 0 16px;
  }

  .prices-bottom-content-item-person-info h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .prices-bottom-content-item-person-info h3 {
    font-size: 14px;
  }

  .prices-bottom-content-item-text p {
    font-size: 15px;
    line-height: 1.6;
  }

  /*&&&&&&&&&&&&&&&&&&&& Team &&&&&&&&&&&&&&&&&&&&*/

  #team {
    padding: 50px 0;
  }

  .team-members {
    margin-top: 30px;
  }

  .team-members-item {
    padding: 25px 10px 30px;
  }


  .team-members-item-info h2 {
    font-size: 16px;
    color: #10161A;
    font-weight: 600;
    margin: 15px 0 5px;

  }

  .team-members-item-info h3 {
    font-size: 12px;
  }

  .team-members-item-icons {
    top: 25px;
    right: 10px;
  }

  .team-members-item-icons i {
    font-size: 13px;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Blog &&&&&&&&&&&&&&&&&&&&*/

  #blog {
    padding: 50px 0;
  }

  .blog-news-items {
    margin-top: 30px;
  }

  .blog-news-item-info span {
    font-size: 12px;
  }

  .blog-news-item-info span i {
    font-size: 10px;
  }

  .blog-news-item-info h2 {
    font-size: 16px;
    margin: 15px 0;
  }

  .blog-news-item-info p {
    font-size: 13px;
    line-height: 1.5;
  }

  .blog-news-item-info-read-more {
    padding: 12px 0;
  }

  .blog-news-item-info-read-more a {
    font-size: 14px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Contact &&&&&&&&&&&&&&&&&&&&*/

  #contact {
    padding: 60px 0;
  }

  .contact-info {
    padding: 40px 0 25px;
  }

  .contact-info-item i {
    font-size: 28px;
  }

  .contact-info-item h2 {
    font-size: 16px;
    margin: 15px 0;
  }

  .contact-info-item span {
    font-size: 14px;
  }

  .contact-form {
    margin: 20px auto 0;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 13px;
  }

  .contact-form-button button {
    padding: 11px 0;
    font-size: 12px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Footer &&&&&&&&&&&&&&&&&&&&*/

  footer {
    padding: 60px 0;
  }

  .footer-content-logo {
    width: 20%;
  }

  .footer-content-icons {
    margin: 20px auto;
  }

  .footer-content-icons i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
  }

  .footer-content-copyright p {
    font-size: 14px;
  }


}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& 768px - 480px &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

@media only screen and (max-width:768px) {

  /*&&&&&&&&&&&&&&&&&&&& Helper Classes &&&&&&&&&&&&&&&&&&&&*/
  .container {
    width: 460px;
  }


  .section-heading {
    font-size: 22px;
    font-weight: 500;
  }

  .section-heading::after {
    width: 35px;
    margin: 15px auto 0;
  }

  /*&&&&&&&&&&&&&&&&&&&& Header &&&&&&&&&&&&&&&&&&&&*/
  .header-website-icon img {
    width: 70px;
  }

  .header-content-headings-text h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .header-content-headings-text h2 {
    font-size: 13px;
    line-height: 25px;
  }

  .header-content-buttons>div {
    float: none;
    width: 100%;
    padding: 5px;
  }

  .header-content-buttons>div>a {
    padding: 12px 0;
    font-size: 13px;
  }

  .header-website-navbar {
    display: none;
  }


  /*&&&&&&&&&&&&&&&&&&&& About &&&&&&&&&&&&&&&&&&&&*/

  #about {
    padding: 40px 0;
  }

  #about .welcome-items {
    margin-top: 30px;
  }

  #about .welcome-items-item {
    width: 90%;
    float: none;
    margin: 10px auto;
  }

  /*&&&&&&&&&&&&&&&&&&&& Protfolio &&&&&&&&&&&&&&&&&&&&*/
  #portfolio {
    padding: 40px 0;
  }

  .portfolio-items {
    margin-top: 25px;
  }

  .portfolio-items-item {
    width: 100%;
  }

  /*&&&&&&&&&&&&&&&&&&&& Services &&&&&&&&&&&&&&&&&&&&*/
  #services {
    padding: 60px 0;
  }

  #services .services-items {
    margin-top: 35px;
  }

  #services .services-items-item {
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  /*&&&&&&&&&&&&&&&&&&&& Choose &&&&&&&&&&&&&&&&&&&&*/

  .choose-info {
    width: 100%;
  }

  .choose-heading h2 {
    font-size: 32px;
  }

  .choose-heading:after {
    width: 30px;
  }

  .choose-info p {
    font-size: 14px;
    line-height: 28px;
  }

  .choose-info ul>li {
    font-size: 14px;
    line-height: 32px;
  }

  .choose-img {
    width: 100%;
  }

  /*&&&&&&&&&&&&&&&&&&&& Stats &&&&&&&&&&&&&&&&&&&&*/

  #stats {
    height: 400px;
  }

  #stats>.container {
    width: 440px;
  }

  .stats-item {
    width: 50%;
    margin-bottom: 50px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Prices &&&&&&&&&&&&&&&&&&&&*/

  #prices {
    margin: 40px auto;
  }

  .prices-items {
    margin-top: 25px;
  }

  .prices-item {
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  .prices-item:nth-child(2) {
    margin: 20px auto;
  }

  .prices-month-info h3 span {
    font-size: 38px;
    font-weight: 800;
  }

  .prices-item button {
    padding: 10px 35px;
    font-size: 15px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Prices Bottom &&&&&&&&&&&&&&&&&&&&*/

  #prices-bottom {
    height: 500px;
  }

  .prices-bottom-content-item {
    float: none;
    width: 85%;
    padding: 2%;
    box-sizing: border-box;
    margin: 20px auto;
  }

  .prices-bottom-content-item-person {
    margin-bottom: 20px;
  }

  .prices-bottom-content-item-person-img {
    float: left;
  }

  .prices-bottom-content-item-person-img img {
    width: 60px;
    height: 60px;
  }

  .prices-bottom-content-item-person-info {
    float: left;
    padding: 8px 0 0 20px;
  }

  .prices-bottom-content-item-person-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .prices-bottom-content-item-person-info h3 {
    font-size: 15px;
  }

  .prices-bottom-content-item-text p {
    font-size: 16px;
    line-height: 1.7;
  }

  /*&&&&&&&&&&&&&&&&&&&& Team &&&&&&&&&&&&&&&&&&&&*/

  #team {
    padding: 60px 0;
  }

  .team-members {
    margin-top: 40px;
  }

  .team-members-item {
    width: 80%;
    float: none;
    padding: 40px 20px 50px;
    margin: 0 auto;
  }

  .team-members-item:nth-child(2) {
    margin: 20px auto;
  }

  .team-members-item-info h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 20px 0 10px;
  }

  .team-members-item-info h3 {
    font-size: 14px;
  }

  .team-members-item-icons {
    top: 40px;
    right: 20px;
  }

  .team-members-item-icons i {
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Blog &&&&&&&&&&&&&&&&&&&&*/

  #blog {
    padding: 70px 0;
  }

  .blog-news-items {
    margin-top: 40px;
  }

  .blog-news-item {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  .blog-news-item:nth-child(2) {
    margin: 30px auto;
  }

  .blog-news-item-info span {
    font-size: 14px;
  }

  .blog-news-item-info span i {
    font-size: 12px;
  }

  .blog-news-item-info h2 {
    font-size: 20px;
    margin: 20px 0;
  }

  .blog-news-item-info p {
    font-size: 15px;
    line-height: 1.6;
  }

  .blog-news-item-info-read-more {
    padding: 15px 0;
  }

  .blog-news-item-info-read-more a {
    font-size: 15px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Contact &&&&&&&&&&&&&&&&&&&&*/

  #contact {
    padding: 80px 0;
  }

  .contact-info {
    padding: 50px 0 35px;
  }

  .contact-info-item {
    float: none;
    width: 80%;
    margin: auto;
  }

  .contact-info-item:nth-child(2) {
    margin: 50px auto;
  }

  .contact-info-item i {
    font-size: 36px;
  }

  .contact-info-item h2 {
    font-size: 21px;
    margin: 20px 0;
  }

  .contact-info-item span {
    font-size: 16px;
  }

  .contact-form {
    width: 85%;
    margin: 25px auto 0;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 16px;
  }


  .contact-form input,
  .contact-form textarea {
    width: 100%;
    margin: 0 auto 15px;
  }

  .contact-form-name {
    float: none;
    margin-right: 0%;
    width: 100%;
  }

  .contact-form-email {
    float: none;
    width: 100%;
  }

  .contact-form-button {
    width: 40%;
    margin: 0 auto;
  }

  .contact-form-button button {
    padding: 14px 0;
    font-size: 16px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Footer &&&&&&&&&&&&&&&&&&&&*/

  footer {
    padding: 50px 0;
  }

  .footer-content-logo {
    width: 25%;
  }

  .footer-content-icons {
    margin: 15px auto;
  }

  .footer-content-icons i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 12px;
    margin: 0 4px;
  }

  .footer-content-copyright p {
    font-size: 13px;
  }

}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& 480px - 320px &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/*&&&&&&&&&&&&&&&&&&&& Helper Classes &&&&&&&&&&&&&&&&&&&&*/
@media only screen and (max-width:480px) {
  .container {
    width: 350px;
  }

  .section-heading {
    font-size: 20px;
    font-weight: 400;
  }

  .section-heading::after {
    width: 30px;
    height: 3px;
    margin: 13px auto 0;
  }

  /*&&&&&&&&&&&&&&&&&&&& Header &&&&&&&&&&&&&&&&&&&&*/
  .header-content-headings-text h1 {
    font-size: 24px;
    font-weight: 400;
  }

  /*&&&&&&&&&&&&&&&&&&&& Protfolio &&&&&&&&&&&&&&&&&&&&*/
  #portfolio {
    padding: 30px 0;
  }

  .portfolio-items {
    margin-top: 15px;
  }

  /* Services */
  .services-items-item-box-content>div {
    float: none;
    text-align: center;
  }


  .services-items-item-box-content-icon {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .services-items-item-box-content-text {
    margin: 0 auto;
  }

  /*&&&&&&&&&&&&&&&&&&&& Choose &&&&&&&&&&&&&&&&&&&&*/

  .choose-heading h2 {
    font-size: 28px;
  }

  .choose-heading:after {
    width: 30px;
  }

  .choose-info p {
    font-size: 12px;
    line-height: 24px;
  }

  .choose-info ul>li {
    font-size: 10px;
    line-height: 28px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Stats &&&&&&&&&&&&&&&&&&&&*/

  #stats {
    height: 700px;
  }

  #stats>.container {
    width: 350px;
  }

  .stats-item {
    width: 100%;
  }

  .stats-item:not(:nth-child(4)) {
    margin-bottom: 50px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Team &&&&&&&&&&&&&&&&&&&&*/

  #team {
    padding: 50px 0;
  }

  .team-members {
    margin-top: 30px;
  }

  .team-members-item-info h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0 8px;
  }

  .team-members-item-info h3 {
    font-size: 13px;
  }

  .team-members-item-icons i {
    font-size: 14px;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Blog &&&&&&&&&&&&&&&&&&&&*/

  .blog-news-item:nth-child(2) {
    margin: 25px auto;
  }

  .blog-news-item-info span {
    font-size: 13px;
  }

  .blog-news-item-info h2 {
    font-size: 18px;
  }

  .blog-news-item-info p {
    font-size: 14px;
    line-height: 1.5;
  }

  .blog-news-item-info-read-more a {
    font-size: 13px;
  }

  /*&&&&&&&&&&&&&&&&&&&& Contact &&&&&&&&&&&&&&&&&&&&*/

  #contact {
    padding: 60px 0;
  }

  .contact-info {
    padding: 40px 0 20px;
  }

  .contact-info-item:nth-child(2) {
    margin: 40px auto;
  }

  .contact-info-item i {
    font-size: 32px;
  }

  .contact-info-item h2 {
    font-size: 18px;
    margin: 15px 0;
  }

  .contact-info-item span {
    font-size: 14px;
  }

  .contact-form {
    margin: 20px auto 0;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 14px;
  }

  .contact-form-button button {
    padding: 13px 0;
    font-size: 14px;
  }

}